In [2]:
from pymongo import MongoClient

In [3]:
client=MongoClient('localhost',27017)

In [4]:
db=client.trial

In [5]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'trial')

In [7]:
client.list_database_names()

['admin', 'config', 'ecommerce_db', 'local', 'trial']

In [16]:
students=db.students

In [9]:
students.count_documents({})

10

In [10]:
students.find()

# Write a query to find all students who are 14 years old.

In [11]:
below_14=students.find({'age':14})
for s in below_14:
    print(s)

{'_id': ObjectId('667e326fe30435b684589f56'), 'student_id': 1, 'name': 'Alice', 'age': 14, 'gender': 'Female', 'grade': 'A', 'subjects': ['Math', 'Science', 'English'], 'score': {'Math': 95, 'Science': 88, 'English': 92}}
{'_id': ObjectId('667e326fe30435b684589f58'), 'student_id': 3, 'name': 'Charlie', 'age': 14, 'gender': 'Male', 'grade': 'C', 'subjects': ['Science', 'History', 'English'], 'score': {'Science': 72, 'History': 68, 'English': 80}}
{'_id': ObjectId('667e326fe30435b684589f5b'), 'student_id': 6, 'name': 'Fiona', 'age': 14, 'gender': 'Female', 'grade': 'A', 'subjects': ['Math', 'Science', 'History'], 'score': {'Math': 92, 'Science': 90, 'History': 88}}
{'_id': ObjectId('667e326fe30435b684589f5e'), 'student_id': 9, 'name': 'Ian', 'age': 14, 'gender': 'Male', 'grade': 'A', 'subjects': ['English', 'Math', 'Science'], 'score': {'English': 90, 'Math': 94, 'Science': 89}}

# Write a query to find all female students.

In [12]:
Female=students.find({'gender':'Female'})
for f in Female:
    print(f)

{'_id': ObjectId('667e326fe30435b684589f56'), 'student_id': 1, 'name': 'Alice', 'age': 14, 'gender': 'Female', 'grade': 'A', 'subjects': ['Math', 'Science', 'English'], 'score': {'Math': 95, 'Science': 88, 'English': 92}}
{'_id': ObjectId('667e326fe30435b684589f5a'), 'student_id': 5, 'name': 'Eva', 'age': 15, 'gender': 'Female', 'grade': 'B', 'subjects': ['English', 'History'], 'score': {'English': 85, 'History': 78}}
{'_id': ObjectId('667e326fe30435b684589f5b'), 'student_id': 6, 'name': 'Fiona', 'age': 14, 'gender': 'Female', 'grade': 'A', 'subjects': ['Math', 'Science', 'History'], 'score': {'Math': 92, 'Science': 90, 'History': 88}}
{'_id': ObjectId('667e326fe30435b684589f5d'), 'student_id': 8, 'name': 'Hannah', 'age': 15, 'gender': 'Female', 'grade': 'B', 'subjects': ['Science', 'History', 'Math'], 'score': {'Science': 80, 'History': 75, 'Math': 85}}
{'_id': ObjectId('667e326fe30435b684589f5f'), 'student_id': 10, 'name': 'Jane', 'age': 16, 'gender': 'Female', 'grade': 'C', 'subjects': ['History', 'Math'], 'score': {'History': 65, 'Math': 60}}

# count of females

In [13]:
students.count_documents({'gender':'Female'})

5

# Write a query to find students who scored more than 90 in Math.

In [19]:
gt_ninety=students.find({"score.Math":{"$gt":90}})
for std in gt_ninety:
    print(std)

{'_id': ObjectId('667e326fe30435b684589f56'), 'student_id': 1, 'name': 'Alice', 'age': 14, 'gender': 'Female', 'grade': 'A', 'subjects': ['Math', 'Science', 'English'], 'score': {'Math': 95, 'Science': 88, 'English': 92}}
{'_id': ObjectId('667e326fe30435b684589f5b'), 'student_id': 6, 'name': 'Fiona', 'age': 14, 'gender': 'Female', 'grade': 'A', 'subjects': ['Math', 'Science', 'History'], 'score': {'Math': 92, 'Science': 90, 'History': 88}}
{'_id': ObjectId('667e326fe30435b684589f5e'), 'student_id': 9, 'name': 'Ian', 'age': 14, 'gender': 'Male', 'grade': 'A', 'subjects': ['English', 'Math', 'Science'], 'score': {'English': 90, 'Math': 94, 'Science': 89}}

# student_id

In [24]:
gt_ninety=students.find({'score.Math':{"$gt":90}})
for s in gt_ninety:
    print(s['student_id'])

1
6
9

# Write a query to find all students but only return their name and age.

In [22]:
all_students=students.find({},{"names":1,"age":1})
for std in all_students:
    print(std)

{'_id': ObjectId('667e326fe30435b684589f56'), 'age': 14}
{'_id': ObjectId('667e326fe30435b684589f57'), 'age': 15}
{'_id': ObjectId('667e326fe30435b684589f58'), 'age': 14}
{'_id': ObjectId('667e326fe30435b684589f59'), 'age': 16}
{'_id': ObjectId('667e326fe30435b684589f5a'), 'age': 15}
{'_id': ObjectId('667e326fe30435b684589f5b'), 'age': 14}
{'_id': ObjectId('667e326fe30435b684589f5c'), 'age': 16}
{'_id': ObjectId('667e326fe30435b684589f5d'), 'age': 15}
{'_id': ObjectId('667e326fe30435b684589f5e'), 'age': 14}
{'_id': ObjectId('667e326fe30435b684589f5f'), 'age': 16}

# Write a query to update Bob's grade to "A".

In [28]:
bob=students.update_one({'name':'Bob'},{'$set':{'grade':'A'}})
print(bob)

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [30]:
Bob=students.find_one({'name':"Bob"})
print(Bob)

{'_id': ObjectId('667e326fe30435b684589f57'), 'student_id': 2, 'name': 'Bob', 'age': 15, 'gender': 'Male', 'grade': 'A', 'subjects': ['Math', 'History'], 'score': {'Math': 78, 'History': 85}}

# Write a query to delete all students who are in grade "C".

In [88]:
grade = students.delete_many({'grade':'C'})
results=students.find({})
print(results)

<pymongo.cursor.Cursor object at 0x0000015C3423F4D0>

In [90]:
for i in results:
    print(i)

{'_id': ObjectId('667e326fe30435b684589f56'), 'student_id': 1, 'name': 'Alice', 'age': 14, 'gender': 'Female', 'grade': 'A', 'subjects': ['Math', 'Science', 'English'], 'score': {'Math': 95, 'Science': 88, 'English': 92}}
{'_id': ObjectId('667e326fe30435b684589f57'), 'student_id': 2, 'name': 'Bob', 'age': 15, 'gender': 'Male', 'grade': 'A', 'subjects': ['Math', 'History'], 'score': {'Math': 78, 'History': 85}}
{'_id': ObjectId('667e326fe30435b684589f59'), 'student_id': 4, 'name': 'David', 'age': 16, 'gender': 'Male', 'grade': 'A', 'subjects': ['Math', 'Science'], 'score': {'Math': 88, 'Science': 91}}
{'_id': ObjectId('667e326fe30435b684589f5a'), 'student_id': 5, 'name': 'Eva', 'age': 15, 'gender': 'Female', 'grade': 'B', 'subjects': ['English', 'History'], 'score': {'English': 85, 'History': 78}}
{'_id': ObjectId('667e326fe30435b684589f5b'), 'student_id': 6, 'name': 'Fiona', 'age': 14, 'gender': 'Female', 'grade': 'A', 'subjects': ['Math', 'Science', 'History'], 'score': {'Math': 92, 'Science': 90, 'History': 88}}
{'_id': ObjectId('667e326fe30435b684589f5d'), 'student_id': 8, 'name': 'Hannah', 'age': 15, 'gender': 'Female', 'grade': 'B', 'subjects': ['Science', 'History', 'Math'], 'score': {'Science': 80, 'History': 75, 'Math': 85}}
{'_id': ObjectId('667e326fe30435b684589f5e'), 'student_id': 9, 'name': 'Ian', 'age': 14, 'gender': 'Male', 'grade': 'A', 'subjects': ['English', 'Math', 'Science'], 'score': {'English': 90, 'Math': 94, 'Science': 89}}

# Write an aggregation query to calculate the average score in Math for all students.

In [91]:
avg_score=students.aggregate([{'$group':{'_id': None,'avgMath_score':{'$avg' : '$score.Math'}}}])
for i in avg_score:
    print(i)

{'_id': None, 'avgMath_score': 88.66666666666667}

# aggregation by gender

In [92]:
avg_score2=students.aggregate([{'$group':{'_id':'$gender','avgMath_score':{'$avg':'$score.Math'}}}])
for i in avg_score2:
    print(i)

{'_id': 'Female', 'avgMath_score': 90.66666666666667}
{'_id': 'Male', 'avgMath_score': 86.66666666666667}

In [94]:
avg_score3=students.aggregate([{'$match':{'gender':'Female'}},
                               {'$group':{'_id':'$gender','avgmath_score':{'$avg':'$score.Math'}}}])
for r in avg_score3:
    print(r)

{'_id': 'Female', 'avgmath_score': 90.66666666666667}

# Write an aggregation query to group students by grade and count the number of students in each grade.

In [95]:
scores=[
    {'$group':{'_id':'$grade','count':{'$sum':1}}}
]
results=students.aggregate(scores)
for item in results:
    print(item)

{'_id': 'B', 'count': 2}
{'_id': 'A', 'count': 5}